.App {
  text-align: center;
}

body {
  color: whitesmoke;
  background-color: black;
  font: "Source Sans Pro";
  font-family: 'Source Sans Pro', sans-serif;;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: lightgray;
}

header div {
  position: absolute;
  transform: translate(50%);
}

.black {
  color: black;
}

.neon:hover {
  color: #c6e2ff;
  text-shadow:
    0 0 2px rgba(202,228,225,0.92),
    0 0 10px rgba(202,228,225,0.34),
    0 0 4px rgba(30,132,242,0.52),
    0 0 7px rgba(30,132,242,0.92),
    0 0 11px rgba(30,132,242,0.78),
    0 0 16px rgba(30,132,242,0.92);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-evenly;
  align-self: center;
  height: 100%;
  margin: 0;
  transform: translate(0%, 75%);
}

.landing {
  padding: 65px;
}

.submit-btn {
  background: white;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 10px;
  padding: 15px 12px;
  border-radius: 5px;
}

.submit-btn:hover {
  filter: drop-shadow(0 0 0.75rem white);
}

.approach input {
  padding: 2px 15px;
  border-radius: 5px;
}

.approach label {
  margin: 5px 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
