@mixin rotated-text($num-letters: 37, $angle-span: 360deg, $angle-offset: 0deg) {
  $angle-per-char: $angle-span / $num-letters;
  @for $i from 1 through $num-letters {
    .char#{$i} {
        transform: (rotate($angle-offset + $angle-per-char * $i))
      }
    .char#{$i}:hover {
      color: #c6e2ff;
      text-shadow:
        0 0 2px rgba(202,228,225,0.92),
        0 0 10px rgba(202,228,225,0.34),
        0 0 4px rgba(30,132,242,0.52),
        0 0 7px rgba(30,132,242,0.92),
        0 0 11px rgba(30,132,242,0.78),
        0 0 16px rgba(30,132,242,0.92);
    }
  }
}


#circle-parent {
  @include rotated-text;
  position: fixed;
  top: 20%;
  left: 48%;
  width: 300px;
  border-radius: 50%;
  transform: rotate(0deg);
}

span {
  height: 100px;
  position: absolute;
  width: 20px;
  left: 0;
  top: 0;
  transform-origin: bottom center;
}

@media screen and (min-width: 768px) {
  span {
    height: 150px;
  }
}